<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTVPN_ClientService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="checkinInterval" value="1"/>
    <add key="ExecutionPath" value="C:\Program Files\Company Name\CT\"/>
  </appSettings>
  <connectionStrings>
    <add name="VPNClientsConnectionString" connectionString="Data Source=.;Initial Catalog=VPNClients;Persist Security Info=True;User ID=<user_name>;Password=<password>" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <CTVPN_ClientService.Properties.Settings>
      <setting name="CTVPN_ClientService_WebReference_State" serializeAs="String">
        <value>http://<web_service_ip_or_domain_name>/vpn/CTVPN_WebService.asmx</value>
      </setting>
    </CTVPN_ClientService.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
